version: 2.1

executors:
  node-executor:
    docker:
      - image: circleci/node:20.0.0
    working_directory: ~/project

jobs:
  instagram-bot:
    executor: node-executor

    steps:
      - checkout  # Checkout the code from your repository

      - run:
          name: Install Node.js dependencies
          command: npm install  # Install dependencies

      - run:
          name: Run Instagram Bot
          command: |
            echo "Running Instagram."
            node instagram.js

      - run:
          name: Upload PNG screenshots as artifacts
          command: |
            mkdir -p ~/artifacts
            mv *.png ~/artifacts
      - store_artifacts:
          path: ~/artifacts
          destination: screenshots

workflows:
  version: 2
  instagram-workflow:
    jobs:
      - instagram-bot
